<a href="https://colab.research.google.com/github/VedJ13/Pandas/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

## Read Data from CSV file into a dataframe

In [4]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [8]:
data = {
    "Name" : ["Ram", "Shyam", "Mohan"],
    "Age" : [23, 11, 42],
    "City" : ["Nagpur", "Mumbai", "Delhi"]
}

df = pd.DataFrame(data)
print(df)

df.to_csv("output.csv", index = False)
# We can save it also in excel and json file.

    Name  Age    City
0    Ram   23  Nagpur
1  Shyam   11  Mumbai
2  Mohan   42   Delhi

In [13]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

print('Display first 3 rows: ')
print(df.head(3))

print('Display last 3 rows: ')
print(df.tail(3))

Display first 3 rows:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
Display last 3 rows:
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

# Using info method to know about dataset

In [16]:
df = pd.DataFrame(data)
print("Displaying the info of data set")
print(df.info())

# Using Describe method
print("Desriptive Statistics")
print(df.describe())

# Shape and Column names
print(f"Shape: {df.shape}")
print(f"Column Names: {df.columns}")

Displaying the info of data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
Desriptive Statistics
             Age
count   3.000000
mean   25.333333
std    15.631165
min    11.000000
25%    17.000000
50%    23.000000
75%    32.500000
max    42.000000
Shape: (3, 3)
Column Names: Index(['Name', 'Age', 'City'], dtype='object')

## Accessing Columns

In [19]:
print("Names (Single coulmn return series)")
name = df["Name"]
print(name)

# Selecting multiple columns

subset = df[["Name", "Age"]]
print("\n Subset with Name and Salary")
print(subset)

Names (Single coulmn return series)
0      Ram
1    Shyam
2    Mohan
Name: Name, dtype: object

 Subset with Name and Salary
    Name  Age
0    Ram   23
1  Shyam   11
2  Mohan   42

In [21]:
# Filtering Rows

valid_age = df[df["Age"] > 18]
print("Who can vote : ")
print(valid_age)

filtered = df[(df["Age"] > 18) & (df["Name"] == "Ram")]
print("List where Age > 18 and Name = Ram")
print(filtered)

Who can vote :
    Name  Age    City
0    Ram   23  Nagpur
2  Mohan   42   Delhi
List where Age > 18 and Name = Ram
  Name  Age    City
0  Ram   23  Nagpur